body {
	width: 100wh;
	height: 300vh;
	color: #fff;
	background-size: 400% 400%;
	background-image: url(/assets/img/christopher-czermak-737894-unsplash.jpg);	
}

h1 {
	font-family: 'Open Sans';
	font-weight: 1200;
	text-align: center;
	position: absolute;
	top: 17%;
	right: 0;
	left: 0;
	
}

