<app-menu></app-menu>
<body>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300" type="text/css" />
<h1>Proyectos Front-End</h1>
  <!--
<div class="container">
    <div class="card-group">
        <div class="card"  style="width: 18rem;">
          <img class="card-img-top" src="../../assets/proyectos/Captura de pantalla de 2018-09-24 22-33-51.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">ConectApp</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary">Left</button>
                <button type="button" class="btn btn-secondary">Middle</button>
              </div>
          </div>
        </div>
        <div class="card"  style="width: 18rem;">
          <img class="card-img-top" src="../../assets/proyectos/Captura de pantalla de 2018-09-24 22-55-30.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">EasyFood</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary">Left</button>
                <button type="button" class="btn btn-secondary">Middle</button>
              </div>
          </div>
        </div>
        <div class="card"  style="width: 18rem;">
          <img class="card-img-top" src=".../100px180/" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary">Left</button>
                <button type="button" class="btn btn-secondary">Middle</button>
              </div>
          </div>
        </div>
      </div>
</div>
-->
<div class="card text-white bg-dark mb-3" id="card1"style="max-width: 18rem;">
    <div class="card-header">EasyFood</div>
    <div class="card-body">
        <img class="card-img-top" src="/assets/img/easyFood.png" alt="Card image cap">     
      <p class="card-text">Red social para compartir recetas. Aplicación creada con angular 6. Revisala haciendo click <a href="https://github.com/mandymandarina/redSocialProyectoAngular">aquí</a>.</p>
    </div>
  </div>

  <div class="card text-white bg-dark mb-3" id="card2"style="max-width: 18rem;">
      <div class="card-header">Markdown</div>
      <div class="card-body"> 
          <img class="card-img-top" src="/assets/img/Markdown.png" alt="Card image cap">  
        <p class="card-text">Dependecia de node.js creada con lenjuaje javaScript, en donde puedes extraer la ubicacion de uno o mas links dentro de un archivo ".md". Revisala haciendo click <a href="https://github.com/mandymandarina/scl-2018-01-FE-markdown">aquí</a>.</p>
      </div>
    </div>

    <div class="card text-white bg-dark mb-3"id="card3" style="max-width: 18rem;">
        <div class="card-header">Trans-Lab</div>
        <div class="card-body"> 
            <img class="card-img-top" src="/assets/img/Trans-Lab.png" alt="Card image cap">     
          <p class="card-text">Aplicación para calcular la tarifa de tu tarjeta bip del transantiago usando apis creado con lenjuaje javaScript. Revisala haciendo click <a href="https://github.com/mandymandarina/Trans-LabTwo">aquí</a>.</p>
        </div>
      </div>
<body>